<div class="row" ng-if="!rs_me">
	<div class="col-xs-12">
		<table class="homeTable">
			<tr>
				<td align="right" valign="middle">
					<h1 id="logo">
						<span class="white-text">seven</span>E<span class="white-text">leven</span></h1>
					<p id="tagline">Create your FREE online STORE!</p>
				</td>
				<td valign="middle">
					<ul id="list">
						<li>Online Store management</li>
						<li>Beautiful premade themes</li>
						<li>Marketing and Promotions</li>
						<li>Reports and Analytics</li>
						<li>
							<a href="/login" class="btn btn-primary padLR30">Login</a>
							<a href="/register" class="btn btn-primary padLR30">Register</a>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div> 
</div>

<div id="homeProducts">
	<div class="page-wrap" ng-if="isLoggedIn && rs_me && !rs_isManage">
		<div class="page-body">
			<div class="row"> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/4.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/5.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/6.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/7.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div>  
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/5.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/6.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/7.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-3 col-sm-4">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/8.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
			</div>
			<div class="row"> 
				<div class="col-md-4 col-sm-6">
					<div class="product-card product-card-cool"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/1.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-4 col-sm-6">
					<div class="product-card product-card-cool"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/2.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-4 col-sm-6">
					<div class="product-card product-card-cool"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/3.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div>  
				<div class="col-md-4 col-sm-6">
					<div class="product-card product-card-cool"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/7.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-4 col-sm-6">
					<div class="product-card product-card-cool"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/8.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div> 
				<div class="col-md-4 col-sm-6">
					<div class="product-card product-card-cool"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">This is a very cool productThis is a very cool product</span>
							<img src="/temp/carthtml/images/bags/9.jpg">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>120</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div>   
			</div>

			<div class="row"> 
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div> 
			</div>
			<div class="row"> 
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div> 
			</div>

			<!-- 4 column -->
			<div class="row">  
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">  
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="product-card product-card-sm">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>