<div class="row" ng-if="!rs_me">
	<div class="col-xs-12">
		<table class="homeTable">
			<tr>
				<td align="right" valign="middle">
					<h1 id="logo">
						<span class="white-text">on</span>M<span class="white-text">arket</span></h1>
					<p id="tagline">Create your FREE online STORE!</p>
				</td>
				<td valign="middle">
					<ul id="list">
						<li>Online Store management</li>
						<li>Beautiful premade themes</li>
						<li>Marketing and Promotions</li>
						<li>Reports and Analytics</li>
						<li>
							<a href="/login" class="btn btn-primary padLR30">Login</a>
							<a href="/register" class="btn btn-primary padLR30">Register</a>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div> 
</div>

<div id="homeProducts">
	<div class="page-wrap" ng-if="isLoggedIn && rs_me && !rs_isManage">
		<div class="page-body">
			<div class="row"> 
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-card">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/1.jpg">
							<span class="product-meta clearfix">
								<span class="product-price">PHP <span>120</span></span>
								This is a very cool leather bag
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>