<div class="page-head" ng-if="isLoggedIn">
	<div class="row">
		<div class="col-sm-4">
			<a id="mainLogo">KOKO</a>
		</div>
		<div class="col-sm-8">
			<ul id="mainVav">
				<li><a href="/products/add" class="btn btn-primary">Add New</a></li>
				<li><a ng-class="{'active' : pagePath == 'products'}" href="/products">Product</a></li>
				<li><a ng-class="{'active' : pagePath == 'orders'}" href="/orders">Orders</a></li>
				<li><a ng-class="{'active' : pagePath == 'customers'}" href="/customers">Customers</a></li>
				<li><a ng-class="{'active' : pagePath == 'settings'}" href="/settings">Settings</a></li>
				<li><a ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>