<div class="page-wrap">
	<div class="page-body"> 	
		<div class="row">
			<div class="col-md-12"> 
				<div class="cart-card" ng-repeat="storeCart in objCartlist">
					<div class="cart-head"> 
						<table>
							<tr>
								<td class="cart-head-img"><img ng-src="{{storeCart.store.avatar ? '/uploads/' + storeCart._id + '/' + storeCart.store.avatar : '/uploads/none.jpg'}}"></td>
								<td class="cart-head-name">{{storeCart.store.name}}</td>
								<td class="cart-head-price">Total : Php 12,000.00</td>
							</tr>
						</table>
					</div>
					<div class="cart-body">
						<table class="table">
							<tr ng-repeat="cartItem in storeCart.cartItems">
								<td class="cart-prod-img">
									<img ng-src="/uploads/{{storeCart._id}}/products/md/{{cartItem.images[0].img1 || cartItem.images[0].img2 || cartItem.images[0].img3 || cartItem.images[0].img4 || 'none.jpg'}}">
								</td>
								<td class="cart-prod-name">{{cartItem.name}}</td>
								<td class="cart-prod-qty">
									<div class="input-group input-group-sm">
										<input type="number" min="1" value="1" class="form-control">
										<span class="input-group-addon">x Php {{cartItem.price | currency:"":0}}</span>
									</div>
								</td>
								<td class="cart-prod-total">Php {{cartItem.price | currency:"":0}}</td>
								<td class="cart-prod-remove"><a>x</a></td>
							</tr> 
						</table>
					</div>
					<div class="cart-foot">
						<div class="row">
							<div class="col-sm-4">
								<select class="input-sm form-control">
									<option>Shipping Address</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="input-sm form-control">
									<option>Payment Method</option>
								</select>
							</div>
							<div class="col-sm-4">
								<input type="submit" value="Submit This Cart" class="btn-sm btn btn-primary btn-block">
							</div>
						</div>
					</div>
				</div>

				<div class="cart-card hide">
					<div class="cart-head"> 
						<table>
							<tr>
								<td class="cart-head-img"><img src="/temp/carthtml/images/1.jpg"></td>
								<td class="cart-head-name">This is 7-11 Cool Store</td>
								<td class="cart-head-price">Total : Php 12,000.00</td>
							</tr>
						</table>
					</div>
					<div class="cart-body">
						<table class="table">
							<tr>
								<td class="cart-prod-img">
									<img src="/temp/carthtml/images/1.jpg">
								</td>
								<td class="cart-prod-name">This is a product name</td>
								<td class="cart-prod-qty">
									<div class="input-group input-group-sm">
										<input type="number" min="1" value="1" class="form-control">
										<span class="input-group-addon">x Php 120</span>
									</div>
								</td>
								<td class="cart-prod-total">Php 1,000.00</td>
								<td class="cart-prod-remove"><a>x</a></td>
							</tr>
							<tr>
								<td class="cart-prod-img">
									<img src="/temp/carthtml/images/1.jpg">
								</td>
								<td class="cart-prod-name">This is a product name</td>
								<td class="cart-prod-qty">
									<div class="input-group input-group-sm">
										<input type="number" min="1" value="1" class="form-control">
										<span class="input-group-addon">x Php 120</span>
									</div>
								</td>
								<td class="cart-prod-total">Php 1,000.00</td>
								<td class="cart-prod-remove"><a>x</a></td>
							</tr>
							<tr>
								<td class="cart-prod-img">
									<img src="/temp/carthtml/images/1.jpg">
								</td>
								<td class="cart-prod-name">This is a product name</td>
								<td class="cart-prod-qty">
									<div class="input-group input-group-sm">
										<input type="number" min="1" value="1" class="form-control">
										<span class="input-group-addon">x Php 120</span>
									</div>
								</td>
								<td class="cart-prod-total">Php 1,000.00</td>
								<td class="cart-prod-remove"><a>x</a></td>
							</tr>
						</table>
					</div>
					<div class="cart-foot">
						<div class="row">
							<div class="col-sm-4">
								<select class="input-sm form-control">
									<option>Shipping Address</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="input-sm form-control">
									<option>Payment Method</option>
								</select>
							</div>
							<div class="col-sm-4">
								<input type="submit" value="Submit This Cart" class="btn-sm btn btn-primary btn-block">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	