<div class="page-wrap">
	<div class="page-body">
		<div class="row">
			<div class="col-sm-7 col-md-8">
				<div class="productview">
					<div class="productview-head"> 
						<h2>This is a product</h2> 
					</div>
					<div class="productview-body">  
						<div class="productview-img mb20">
							<img src="/temp/carthtml/images/1.jpg"> 
						</div> 
						<div class="productview-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos non qui deserunt beatae ut dolor nemo id aliquid itaque, nihil commodi ipsum? Inventore, perferendis, voluptas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos non qui deserunt beatae ut dolor nemo id aliquid itaque, nihil commodi ipsum? Inventore, perferendis, voluptas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos non qui deserunt beatae ut dolor nemo id aliquid itaque, nihil commodi ipsum? Inventore, perferendis, voluptas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos non qui deserunt beatae ut dolor nemo id aliquid itaque, nihil commodi ipsum? Inventore, perferendis, voluptas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos non qui deserunt beatae ut dolor nemo id aliquid itaque, nihil commodi ipsum? Inventore, perferendis, voluptas.</p>
						</div> 
					</div>
				</div>
			</div>
			<div class="col-sm-5 col-md-4">
				<div class="productview-addtocart"> 
					<div class="input-group input-group-sm mb5">
						<input type="number" min="1" value="1" class="form-control text-center">
						<span class="input-group-addon">x Php <strong>120</strong></span>
					</div>
					<input type="submit" value="Add to Cart" class="btn btn-primary btn-block">
				</div>
				<div class="productview-storeinfo"> 
					<a href="#">
						<img src="/assets/images/avatar.jpg"> 
						<strong>CoolStore101</strong>
						<span>This is the store tagline with long tagline ofcourse</span>
					</a>
				</div>
				<div class="productview-related mb20"> 
					<h5 class="m0 pad20">Related Products</h5>
					<div class="productview-related-item">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/bags/4.jpg">
							<span class="productview-related-name">This is a very cool productThis is a very cool product</span>
							<span class="productview-related-meta clearfix show">
								0 Reviews
								<span class="pull-right">Php 1,000.00</span>
							</span>
						</a>
					</div>
					<div class="productview-related-item">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/bags/4.jpg">
							<span class="productview-related-name">This is a very cool productThis is a very cool product</span>
							<span class="productview-related-meta clearfix show">
								0 Reviews
								<span class="pull-right">Php 1,000.00</span>
							</span>
						</a>
					</div>
					<div class="productview-related-item">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/bags/4.jpg">
							<span class="productview-related-name">This is a very cool productThis is a very cool product</span>
							<span class="productview-related-meta clearfix show">
								0 Reviews
								<span class="pull-right">Php 1,000.00</span>
							</span>
						</a>
					</div>
					<div class="productview-related-item">
						<a href="/p/B1AUiUhl">
							<img src="/temp/carthtml/images/bags/4.jpg">
							<span class="productview-related-name">This is a very cool productThis is a very cool product</span>
							<span class="productview-related-meta clearfix show">
								0 Reviews
								<span class="pull-right">Php 1,000.00</span>
							</span>
						</a>
					</div>
					<div class="productview-related-item text-center">
						<a href="#" class="pad10"><strong>Read All</strong></a>
					</div>
				</div>
				<div class="productview-reviews mb20"> 
					<h5 class="m0 clearfix pad20">
						Reviews (30)
						<span class="product-reviews-star pull-right">
							<i class="fa fa-star text-danger"></i>
							<i class="fa fa-star text-danger"></i>
							<i class="fa fa-star text-danger"></i>
							<i class="fa fa-star text-danger"></i>
							<i class="fa fa-star text-default"></i>
						</span>
					</h5>
					<div class="productview-reviews-item"> 
						<div class="product-review-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ut, a </div>
						<div class="product-review-head">
							<img src="/assets/images/avatar.jpg">
							<div class="productview-reviews-name clearfix">
								by <a href="#">Koko M.</a>
								<span class="product-reviews-star pull-right">
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-default"></i>
								</span>
							</div>
						</div>  
					</div>
					<div class="productview-reviews-item"> 
						<div class="product-review-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ut, a </div>
						<div class="product-review-head">
							<img src="/assets/images/avatar.jpg">
							<div class="productview-reviews-name clearfix">
								by <a href="#">Koko M.</a>
								<span class="product-reviews-star pull-right">
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-default"></i>
								</span>
							</div>
						</div>  
					</div>
					<div class="productview-reviews-item"> 
						<div class="product-review-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ut, a </div>
						<div class="product-review-head">
							<img src="/assets/images/avatar.jpg">
							<div class="productview-reviews-name clearfix">
								by <a href="#">Koko M.</a>
								<span class="product-reviews-star pull-right">
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-danger"></i>
									<i class="fa fa-star text-default"></i>
								</span>
							</div>
						</div>  
					</div>
					<div class="productview-reviews-item text-center">
						<a href="#" class="pad10"><strong>Read All</strong></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>