doctype html
html(ng-app='starterApp')
    head
        title= title
        base(href='/')
        link(rel='stylesheet', href='/assets/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/stylesheets/animate.min.css')
        link(rel='stylesheet', href='/assets/stylesheets/style.css')
        link(rel='stylesheet', href='/assets/stylesheets/misc.css')
        script(src='/assets/javascript/lodash.js')
        script(src='/assets/javascript/angular.min.js')
        script(src='/assets/javascript/angular-route.js')
        script(src='/assets/javascript/angular-resource.js')
        script(src='/assets/javascript/angular-animate.js')
        script(src='/app/app.js')
        script(src='/app/config/config.js')
        script(src='/app/services/authService.js')
        script(src='/app/services/postService.js')
        script(src='/app/controllers/mainController.js')
        script(src='/app/controllers/authController.js') 
        script(src='/app/controllers/dashboardController.js')
        script(src='/app/controllers/profileController.js')
        script(src='/app/controllers/postController.js') 
    body(ng-controller='mainController')
        .container
            .row
                .col-sm-12(ng-controller="mainController")
                    block content
