doctype html
html(ng-app='starterApp')
    head
        title= title
        base(href='/')
        link(rel='stylesheet', href='/assets/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/assets/stylesheets/animate.min.css')
        link(rel='stylesheet', href='/assets/stylesheets/styles.css')
        link(rel='stylesheet', href='/assets/stylesheets/misc.css')
        script(src='/assets/javascript/lodash.js')
        script(src='/assets/javascript/angular.min.js')
        script(src='/assets/javascript/angular-cookies.js')
        script(src='/assets/javascript/angular-route.js')
        script(src='/assets/javascript/angular-resource.js')
        script(src='/assets/javascript/angular-animate.js')
        script(src='/app/app.js')
        script(src='/app/config/config.js')
        script(src='/app/services/authService.js')
        script(src='/app/services/productService.js')
        script(src='/app/services/settingService.js')
        script(src='/app/controllers/mainController.js')
        script(src='/app/controllers/homeController.js')
        script(src='/app/controllers/authController.js') 
        script(src='/app/controllers/dashboardController.js')
        script(src='/app/controllers/profileController.js')
        script(src='/app/controllers/productsController.js') 
        script(src='/app/controllers/ordersController.js') 
        script(src='/app/controllers/customersController.js') 
        script(src='/app/controllers/settingsController.js') 
        script(src='/app/controllers/wishlistController.js') 
        script(src='/app/controllers/cartController.js') 
        script(src='/app/controllers/storeController.js') 
    body
        .container(ng-controller='mainController')
            block content
