<div class="page-wrap">
	<div class="page-body" ng-if="objStore">
		<div class="row">
			<div class="col-md-12">
				<div class="profileBox">
					<img ng-src="{{storeImg}}" alt="" class="profileBox-avatar">
					<div class="profileBox-details">
						<h3>{{objStore.store.name}}</h3>
						<h5>@{{objStore.store.url}}</h5>
						<p>{{objStore.store.description}}</p>
						<ul class="profileBox-meta mt20">
							<li>Products : 57</li>
							<li>Reviews : 57</li>
							<li>Followers : {{objStore.followers.length}}</li>
							<li class="pull-right m0" ng-if="!isfollowed">
								<a href="#" class="btn btn-xs btn-primary" ng-click="followStore($event)">
									<i class="glyphicon glyphicon-plus"></i> Follow</a>
							</li>
							<li class="pull-right m0" ng-if="isfollowed">
								<a href="#" class="btn btn-xs btn-warning" ng-click="unfollowStore($event)">
									<i class="glyphicon glyphicon-remove"></i> Unfollow</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row"> 
				<div class="col-md-3 col-sm-4" ng-repeat="strProd in objStoreProducts">
					<div class="product-card product-card-cool product-card-cool-sm"> 
						<a href="/p/B1AUiUhl">
							<span class="product-name">{{strProd.name}}</span>
							<img ng-src="/uploads/{{strProd.store.id}}/products/md/{{strProd.images[0].img1 || strProd.images[0].img2 || strProd.images[0].img3 || strProd.images[0].img4 || 'none.jpg'}}">
						</a>
						<div class="product-meta clearfix">
							<div class="product-price">PHP <span>{{strProd.price}}</span></div>
							<a class="product-view">
								<i class="glyphicon glyphicon-share-alt"></i> View
							</a>
							<a class="product-like">
								<i class="glyphicon glyphicon-heart"></i> 100
							</a>
							<a class="product-wishlist">
								<i class="glyphicon glyphicon-gift"></i> Wishlist
							</a>
						</div> 
					</div>
				</div>  
			</div>
	</div>

	<div class="page-body" ng-if="!objStore">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center whitebox">Page not found.</h4>
			</div>
		</div>
	</div>
</div>