<div class="whitebox">
	<h3>
		Add Post
		<a href="/posts" class="btn btn-primary pull-right">Cancel</a>
	</h3>

	<form name="addPostForm" ng-submit="addPostSubmit()" novalidate>
		<p>
			<label>Post Title</label>
			<input class="form-control" ng-model="postTitle" required />
		</p>
		<p>
			<label>Post Content</label>
			<textarea ng-model="postContent" class="form-control" required ></textarea>
		</p>
		<p>
			<label>Post Image</label>
			<input type="file" onchange="angular.element(this).scope().filesChanged(this)" multiple class="form-control">
		</p>

		<p ng-if="isAddPostSuccess" class="alert alert-success">Success</p>
		<p ng-if="isAddPostError" class="alert alert-success">Error</p>

		<p class="text-right">
			<input type="submit" value="Add Post" class="btn btn-primary" ng-disabled="addPostForm.$invalid">
		</p>
	</form>
</div>